html, body {
	background: linear-gradient(to bottom, #273746, #000000, #273746);
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

.click {
	display: block;
	position: absolute;
	z-index: 100;
	background: linear-gradient(to bottom, #273746, #000000, #273746);
	height: 100%;
	width: 4%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.text {
	position: relative;
	width: 100%;
	top: 50%;
	left: 50%;
	font-size: 4px;
	transform: translate(-50%, -50%);
	text-align: center;
	padding: 0;
	margin: 0;
	color: white;
}

p {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

.left {
	display: block;
	position: relative;
	height: 100%;
	width: 100%;
	right: 0px;
	background: linear-gradient(to right, #1E8449 0%, #000000 80%);
    -webkit-mask-image: url(trapezoid-l.svg);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: right;
    -webkit-mask-size: 100% auto;
    margin: 0;
	padding: 0;
}

.container-l {
	display: inline-block;
	position: absolute;
	height: 100%;
	width: 50%;
	left: 0;
	margin: 0;
	padding: 0;
}

.right {
	display: block;
	position: relative;
	height: 100%;
	width: 100%;
	right: 0px;
	background: linear-gradient(to left, #2471A3 0%, #000000 80%);
    -webkit-mask-image: url(trapezoid-r.svg);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: left;
    -webkit-mask-size: 100% auto;
    margin: 0;
	padding: 0;
}

.container-r {
	display: inline-block;
	position: absolute;
	height: 100%;
	width: 50%;
	right: 0;
	margin: 0;
	padding: 0;
}


.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    opacity: 0.03;
}
