html {
	height: 100%;
	width: 100%;
	background-color: whitesmoke;
  margin-top: 10px;
}

body {
  margin: auto;
}

/*.grid {
	display: block;
	position: relative;
}*/

p {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

::-webkit-scrollbar { 
    display: none; 
}

.album {
    visibility: hidden;
    display: none !important;
}

.artist {
    visibility: hidden;
    display: none !important;
}

.releasedate {
    visibility: hidden;
    display: none !important;
}

.image {
    position: relative;
    /*display: inline-block;*/
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 4px 1px rgba(100, 100, 100, 0.25);
    border-radius: 100%;
/*    margin: 5px;
*/    -webkit-animation:spin .08s linear infinite;
    -moz-animation:spin .08s linear infinite;
    animation:spin .08s linear infinite;
}

.image:hover {
    -webkit-animation: none;
    -moz-animation: none;
    animation: none;
    z-index: 200 !important;
}


@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

.something{
  position: absolute !important;
  width: 1000%;
  height: auto;
  top: 50%;
  transform: translateY(-50%);
}

.metadata {
  padding-top: 10px;
}

.header {
  position: fixed;
  padding: 20px;
}

.element-item{
  position: relative;
  /*float: left;*/
  width: 1.5%;
  padding: .006%;
  height: auto;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

.button {
  display: inline-block;
  padding: 0.5em 1.0em;
  margin-bottom: 10px;
  background: #EEE;
  border: none;
  border-radius: 7px;
  background-image: linear-gradient( to bottom, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.2) );
  color: #222;
  font-family: sans-serif;
  font-size: 14px;
  cursor: pointer;
}

.button:hover {
  background-color: #8CF;
  color: #222;
}

.button:active,
.button.is-checked {
  background-color: #28F;
}

.button.is-checked {
  color: white;
}

.button:active {
  box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
}

.button-group:after {
  content: '';
  display: block;
  clear: both;
}

.button-group .button {
  float: left;
  border-radius: 0;
  margin-left: 0;
  margin-right: 1px;
}

.button-group .button:first-child { 
  border-radius: 0.5em 0 0 0.5em;
}

.button-group .button:last-child { 
  border-radius: 0 0.5em 0.5em 0;
}

.data-hidden {
  display: none;
}
