html, body {
	height: 100%;
	width: 100%;
	margin: 0;
/*	overflow: hidden;
*/	background-color: whitesmoke;
/*    overflow-x: scroll;
    overflow-y: hidden;*/
}

#main {
	display: block;
	position: relative;
    top: 50%;
    transform: translateY(-50%);
/*	scroll-direction: horizontal;
*/    white-space: nowrap;
}

::-webkit-scrollbar { 
    display: none; 
}
.image {
    position: relative;
    display: inline-block;
    width: 200px;
    height: 200px;
    margin-left: -30px;
    box-shadow: 0px 0px 8px 2px rgba(100, 100, 100, 0.5);
    border-radius: 100%;
    -webkit-animation:spin .08s linear infinite;
    -moz-animation:spin .08s linear infinite;
    animation:spin .08s linear infinite;
}

.image:hover {
    -webkit-animation: none;
    -moz-animation: none;
    animation: none;
    z-index: 100;
    transform: scale(1.5);
}


@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
