html {
	height: 100%;
	width: 100%;
	background-color: whitesmoke;
}

body {
  margin: 0;
  padding: 0;
}

p {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

::-webkit-scrollbar { 
    display: none; 
}

.album {
    visibility: hidden;
    display: none !important;
}

.artist {
    visibility: hidden;
    display: none !important;
}

.releasedate {
    visibility: hidden;
    display: none !important;
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

.header {
  position: fixed;
  top: 75px;
  text-align: center;
  width: 100%;
  font-family: 'Space Mono', monospace;
  font-size: 18px;
}

.website {
  position: fixed;
  bottom: 40px;
  font-family: 'Space Mono', monospace;
  font-size: 85px;
  width: 100%;
  text-align: center;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  }

.something{
  position: absolute !important;
  width: auto;
  height: 160px;
  top: 50%;
  transform: translateY(-50%);
  list-style: none;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

img {
  position: relative;
  height: 100%;
}

.image {
    position: relative;
    display: inline-block;
    margin-left: -15px;
    margin-right: -15px;
    width: auto;
    height: 100%;
    box-shadow: 0px 0px 4px 1px rgba(100, 100, 100, 0.25);
    border-radius: 100%;
    -webkit-animation:spin .08s linear infinite;
    -moz-animation:spin .08s linear infinite;
    animation:spin .08s linear infinite;
}

.image:hover {
    -webkit-animation: none;
    -moz-animation: none;
    animation: none;
    z-index: 200 !important;
}

.data-hidden {
  display: none;
}

.border {
  position: fixed;
  display: block;
  outline: 20px solid black;
  outline-offset: -20px;
  height: 100%;
  width: 100%;
}